<html ng-app="FreedomCalc" style="width:400px;height:300px" ng-csp="">
<head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/math.min.js"></script>
  <script type="text/javascript" src="js/ga.js"></script>
	<script type="text/javascript" src="js/content.js"></script>
	<style type="text/css">
	.result{
		color: yellow;	
	}
	*:focus {outline:1px none transparent}
	</style>
</head>

<body ng-controller="FreedomCalcController" ng-keyup="blockKey($event)">
<form>
<div class="panel panel-primary" style="width:100%;height:100%">
  <div class="panel-heading">FreedomCalc</div>
  <div class="panel-body"  style="height:250px;padding:0px;color: #f92672;background-color: #272822;overflow:auto">
  <div ng-keyup="evaluate($event,content)" contenteditable ng-keypress="eatEnter($event)" ng-model="content.expr" strip-br="true" id="editable">
  </div>
  <span class="result" ng-show="content.result">={{content.result}}</span>
  <div ng-repeat="cont in contents track by $index">
  	<div contenteditable ng-keyup="evaluatePast($event,cont)" ng-keypress="eatEnter($event)" ng-model="cont.expr"  strip-br="true"></div>
  	<span class="result">={{cont.result}}</span>
  </div>
</div>
<div class="panel-footer" style="text-align:right"><button type="button" class="btn btn-primary" ng-click="clearBoard()">Clear</button></div>
</div>
</form>
</body>
</html>